<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{##.slab##}}/">Yero Samuel Ndiaye</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" data-page="index" href="{{##.slab##}}/">Home</a></li>
                <li class="nav-item"><a class="nav-link" target="_blank" href="{{##.slab##}}/YeroNdiayeCV.pdf">CV</a></li>
                <li class="nav-item"><a class="nav-link" data-page="research" href="{{##.slab##}}/research/">Research</a></li>
                <li class="nav-item"><a class="nav-link" data-page="teaching" href="{{##.slab##}}/teaching/">Teaching</a></li>
                <li class="nav-item"><a class="nav-link" data-page="kickboxing" href="{{##.slab##}}/kickboxing/">Kickboxing</a></li>
                <li class="nav-item"><a class="nav-link" data-page="press" href="{{##.slab##}}/press/">Press</a></li>
                <li class="nav-item"><a class="nav-link" data-page="contact" href="{{##.slab##}}/contact/">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
